<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>NOTES APP</title>
  <meta charset="utf-8">
  <!-- <script src="/css/script.js"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles3.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">NOTES APP</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/home">HOME</a></li>
          <li id="about"><a href="/folders">TAKE NOTES</a></li>
          <li id="todo"><a href="/todo">MY TO DO LIST</a></li>
          <li id="contact"><a href="/decks">FLASHCARDS</a></li>
          <li id="studygrp"><a href="/groups">STUDY GROUPS</a></li>
          <li id="mytests"><a href="/tests">MY TESTS</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
