body{
background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.folders{
	margin-top: 5%;
	margin-left:10%;
	margin-right: 10%;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 10%;
}
a:link{
	color: black;
	text-decoration: none;

}
a:visited{
	color: black;
	text-decoration: none;

}
.card{
	background-color: yellow;
	
}
.btns{
	margin-left: 35%;
	margin-top: 100px;
}
.share{
	margin-right: 2%;
}
