body{
	background: #642B73;  
background: -webkit-linear-gradient(to right, #C6426E, #642B73);  
background: linear-gradient(to right, #C6426E, #642B73);
}
#title{
	background: #642B73;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
	font-family: "Montserrat",sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 3rem;
	line-height: 1.5;
	color: white;
	padding-bottom: 20px;
}
.container-fluid{
	padding: 3% 15% 7%;
}
.iphone{
	transform: rotate(30deg);
	position: absolute;
	width:120%;
	right:2%;
	
}
.navbar-brand{
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.5rem;
	font-style: normal;
}
.navbar{
	padding-top: 10px;
	margin-bottom: 50px;
}
button{
	margin-left:10px;
}
i{
	margin-right: 10px;
}



h2{
	font-family: "Montserrat",sans-serif;
	font-size: 3rem;
	line-height: 1.5;
	font-weight: 900;
}
