body{
background: #642B73;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.open{
	margin-left: 10%;
	margin-right: 10%;
	margin-top:3%;
	margin-bottom: 30px;
}
.notes .card{
	background-color: #ffdb4d;

}

.notes .card:hover{
	background-color: #e6b800;
}
a:link{
	color: black;
	text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: black;
}

.groups .card{
	background-color: #ff6666;
	color: white;
}

.groups .card:hover{
	background-color: #ff3333;
}

.tests .card{
	background-color: #9999ff;
	color: white;
}

.tests .card:hover{
	background-color: #6666ff;
}

.todo .card{
	background-color: #ff6699;
	color: white;
}

.todo .card:hover{
	background-color: #ff1a66;
}

.cards .card{
	background-color: #66ffff;
}

.cards .card:hover{
	background-color: #00e6e6;
}